div.tic {
    width: 300px;
    margin: 50px auto;
}

div.header {
    height: 50px;
    font-size: 40px;
}

div.tic > div.row > li.square {
    height: 100px;
    width: 100px;
    border-right: 2px solid black;
    list-style-type: none;
    float: left;
    box-sizing: border-box;
    font-size: 80px;
    padding: 10px;
    
}

div.tic > div.row > li.square:last-child {
    border-right: none;
}

div.tic > div.row {
    border-bottom: 2px solid grey;
    overflow: auto;
}

div.tic > div.row:last-child {
    border-bottom: none;
}
